.modal-container {
    width: 520px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px #dddddd;
    background-color: #fff;

    &__header {
        padding: 15px 24px;
        background-color: #1e1e3a;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__header-title {
        color: #ffffff;
        line-height: 1.2;
        font : {
            family: 'Roboto', 'sans-serif';
            weight: 500;
            size: 24px;
        }
    }

    &__close-btn {
        border: none;
        background-color: transparent;
        padding: 3px 5px;

        & > svg {
            width: 20px;
            height: 20px;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__footer {
        padding: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
