@import '_reset.scss';
@import '_modal.scss';
@import '_payment.scss';

body {
  background-image: linear-gradient(245.33deg, #287D9F 0%, #713C93 100%);;
}

.js-app {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}