<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="~/css/style.css" />

    <title>Document</title>
</head>

<body>
    <button id="js-modal-btn-open">Open Modal Window</button>
    <div class="js-app">
        <div class="modal-container" id="js-modal-window">
            <div class="modal-container__header">
                <div class="modal-container__header-title">
                    Checkout
                </div>

                <button class="modal-container__close-btn" id="js-modal-btn-close">
                    <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.3334 2.54669L17.4534 0.666687L10.0001 8.12002L2.54675 0.666687L0.666748 2.54669L8.12008 10L0.666748 17.4534L2.54675 19.3334L10.0001 11.88L17.4534 19.3334L19.3334 17.4534L11.8801 10L19.3334 2.54669Z"
                              fill="white"></path>
                    </svg>
                </button>
            </div>

            <div class="modal-container__body">
                <div class="payment-container">
                    <div class="payment-container__waiting-status" id="js-waiting-status-wrapper">
                        <div></div>
                        <div class="payment-container__waiting-wrapper">
                            <div class="payment-container__spinner" id="js-payment-container">
                                <!-- load spinner via js-->
                            </div>
                            <p class="payment-container__text-state" id="js-waiting-text">
                                Awaiting Payment...
                            </p>
                        </div>
                        <p class="payment-container__timeout" id="js-payment-time"></p>
                    </div>
                    <div class="payment-container__stats-container" id="js-stats-container">
                        <div class="payment-container__cards-wrapper">
                            <ul class="payment-container__card-list" id="js-payment-card-list"></ul>
                        </div>

                        <div class="payment-container__total-wrapper">
                            <p class="payment-container__label">Total</p>
                            <div class="payment-container__currency-icon" id="currency-icon">
                            </div>

                            <div class="payment-container__crypto-wrapper">
                                <p class="payment-container__total-value" id="total-value">0.11</p>
                                <p class="payment-container__currency-type" id="currency-type">BTC</p>
                            </div>

                            <div class="payment-container__exchange-wrapper">
                                [<p class="payment-container__exchange-paying-result" id="paying-result">5500</p>
                                &nbsp;<p class="payment-container__exchange-currency-result" id="currency-result">USD</p>]
                            </div>
                        </div>

                    </div>


                    <div class="payment-container__box" id="js-payment-body">

                        <div class="payment-container__data-is-loading" id="js-box-is-loading">
                            <div class="payment-container__qr-code-wrapper">
                                <svg width="113" height="100" viewBox="0 0 113 100" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M19.1624 20.9062C19.3928 21.33 19.7242 21.6913 20.1279 21.9585C20.5315 22.2257 20.9949 22.3905 21.4776 22.4387C21.9603 22.4868 22.4475 22.4167 22.8966 22.2346C23.3457 22.0525 23.7429 21.7638 24.0536 21.3939C25.6356 19.9307 25.9501 17.3311 23.9307 16.7166C22.781 16.3508 16.8286 16.2971 19.1624 20.9062ZM34.0839 3.82331C39.7784 -0.4346 41.4809 -0.0785547 42.8394 0.0848361C44.2962 0.267736 44.3404 1.72118 43.4658 4.37933C42.4831 7.34231 40.0634 12.2148 38.3757 16.7702C33.7523 29.2489 41.5422 37.5477 51.7127 42.9542C58.5912 46.6122 67.1599 50.7092 74.2448 57.5862C79.6863 62.8732 79.8779 67.6043 81.3372 68.8968C82.0742 69.5527 85.4151 71.8232 83.6267 60.654C83.0517 56.6524 81.4663 52.8602 79.018 49.6304C76.5697 46.4005 73.3381 43.8379 69.624 42.1811C64.1432 39.4596 59.2349 39.3011 55.3755 37.9378C35.0322 30.734 56.9969 -2.33676 89.1664 11.2832C119.847 24.2715 123.198 77.0419 85.6977 81.2998C83.4291 86.9349 79.1418 91.5384 73.6602 94.2248C66.1233 97.8706 60.4264 96.6317 52.123 96.9073C45.0897 97.1268 39.2945 96.1464 39.7686 92.6957C40.4147 88.0159 51.8061 90.896 51.8478 80.8365C51.8749 75.1153 45.6104 71.6939 42.2866 77.7491C40.809 80.8871 38.8891 83.8004 36.5848 86.4015C30.4432 93.4005 22.3831 102.443 14.7208 99.3899C12.8661 98.6582 12.1193 96.6025 15.1974 93.9248C16.5289 92.7664 17.8432 91.8593 19.1649 90.5375C21.452 88.25 22.953 82.7776 23.7317 78.8051L23.7759 78.5612C22.1585 83.0023 18.9593 86.702 14.7822 88.9621C10.9548 91.4398 8.35573 89.545 10.4635 86.8185C14.981 80.7986 18.4502 74.0699 20.7273 66.9117C21.3758 64.9973 21.9973 63.8511 22.6164 63.878C22.496 63.3073 22.3708 62.7269 22.2406 62.1416C18.6244 45.5953 16.0818 40.7131 13.0896 37.7208C10.9106 35.5406 -2.92757 23.657 0.560839 18.9991C5.44707 12.4513 13.775 9.38836 21.3439 8.04465C22.2037 7.89101 24.3041 7.69592 26.3087 7.44718L26.3554 7.35207C27.9211 5.24999 29.651 3.27345 31.5291 1.44074C32.6739 0.101906 35.1329 0.284807 34.7227 1.63095C34.4623 2.45034 34.2731 3.13561 34.0839 3.82331Z"
                                          fill="#2BB7BD"></path>
                                </svg>
                            </div>
                            <div class="payment-container__stats-wrapper">
                                <p class="payment-container__stats-label">Payment detected on the network.</p>
                            </div>
                            <div class="payment-container__wallet-address">
                                <div class="payment-container__waiting-wrapper">
                                    <div class="payment-container__spinner">
                                        <svg version="1.1" id="L8" xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
                                        <path fill="#3C3C3C"
                                              d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50">
                                        <animateTransform attributeName="transform" attributeType="XML"
                                                          type="rotate" dur="1s" from="0 50 50" to="360 50 50"
                                                          repeatCount="indefinite"></animateTransform>
                                            </path>
                                        </svg>
                                    </div>

                                    <p class="payment-container__stats-label" id="bottom-waiting">Waiting for confirmation...</p>
                                </div>
                            </div>
                        </div>

                        <div class="payment-container__data-is-ready" id="js-box-is-ready">
                            <div class="payment-container__qr-code-wrapper" id="js-qr-code-placeholder">
                                <!--QR CODE-->
                            </div>
                            <div class="payment-container__stats-wrapper">
                                <p class="payment-container__stats-label">Send exactly</p>
                                <p class="payment-container__stats-value" id="js-stats-value">3333 BTC</p>
                                <p class="payment-container__stats-label">to address:</p>
                            </div>

                            <div class="payment-container__wallet-address">
                                <input name="wallet" type="text" class="payment-container__wallet-input"
                                       id="js-wallet-address" />
                                <button data-clipboard-target="#js-wallet-address" class="payment-container__button-cpy"
                                        id="js-wallet-copy-address">
                                    <svg width="17" height="20" viewBox="0 0 17 20" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2.18203 18.25H12.205V4.75H2.18203V18.25ZM13.6368 4.75V15.25H15.0685V1.75H5.04553V3.25H12.205C12.5934 3.26042 12.9618 3.42397 13.23 3.70497C13.4982 3.98597 13.6445 4.36162 13.6368 4.75ZM2.18203 3.25H3.61378V1.75C3.60612 1.36162 3.75234 0.985971 4.02055 0.704971C4.28876 0.423972 4.65721 0.260418 5.04553 0.25H15.0685C15.4569 0.260418 15.8253 0.423972 16.0935 0.704971C16.3617 0.985971 16.5079 1.36162 16.5003 1.75V15.25C16.5079 15.6384 16.3617 16.014 16.0935 16.295C15.8253 16.576 15.4569 16.7396 15.0685 16.75H13.6368V18.25C13.6445 18.6384 13.4982 19.014 13.23 19.295C12.9618 19.576 12.5934 19.7396 12.205 19.75H2.18203C1.79372 19.7396 1.42527 19.576 1.15706 19.295C0.888841 19.014 0.742623 18.6384 0.750287 18.25V4.75C0.742623 4.36162 0.888841 3.98597 1.15706 3.70497C1.42527 3.42397 1.79372 3.26042 2.18203 3.25Z"
                                              fill="white"></path>
                                    </svg>
                                </button>
                            </div>
                        </div>

                        <div class="payment-container__data-expired" id="js-box-expired">
                            <div class="payment-container__expired_wrapper" id="js-frown-img">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100pt" height="100pt" viewBox="0 0 100 100" version="1.1">
                                    <g id="surface1">
                                        <path style=" stroke:none;fill-rule:nonzero;fill:rgb(50.196078%,50.196078%,50.196078%);fill-opacity:1;" d="M 93.195312 24.875 C 88.730469 17.222656 82.671875 11.164062 75.019531 6.699219 C 67.367188 2.234375 59.011719 0 49.949219 0 C 40.886719 0 32.527344 2.234375 24.878906 6.699219 C 17.222656 11.164062 11.164062 17.222656 6.699219 24.875 C 2.234375 32.527344 0 40.886719 0 49.945312 C 0 59.007812 2.234375 67.363281 6.699219 75.019531 C 11.164062 82.671875 17.222656 88.726562 24.875 93.195312 C 32.527344 97.660156 40.886719 99.894531 49.949219 99.894531 C 59.007812 99.894531 67.367188 97.660156 75.019531 93.195312 C 82.671875 88.730469 88.730469 82.671875 93.195312 75.019531 C 97.660156 67.363281 99.894531 59.007812 99.894531 49.945312 C 99.894531 40.886719 97.660156 32.527344 93.195312 24.875 Z M 88.253906 66.109375 C 86.042969 71.246094 83.082031 75.667969 79.378906 79.375 C 75.671875 83.082031 71.246094 86.039062 66.109375 88.25 C 60.972656 90.464844 55.585938 91.570312 49.949219 91.570312 C 44.3125 91.570312 38.925781 90.464844 33.789062 88.25 C 28.648438 86.039062 24.226562 83.082031 20.519531 79.375 C 16.8125 75.667969 13.855469 71.246094 11.644531 66.109375 C 9.429688 60.96875 8.324219 55.582031 8.324219 49.945312 C 8.324219 44.308594 9.429688 38.925781 11.644531 33.785156 C 13.855469 28.648438 16.8125 24.226562 20.519531 20.519531 C 24.226562 16.8125 28.648438 13.851562 33.789062 11.640625 C 38.925781 9.429688 44.3125 8.324219 49.949219 8.324219 C 55.585938 8.324219 60.972656 9.429688 66.109375 11.640625 C 71.246094 13.851562 75.667969 16.8125 79.378906 20.519531 C 83.082031 24.226562 86.042969 28.648438 88.253906 33.785156 C 90.464844 38.921875 91.570312 44.308594 91.570312 49.945312 C 91.570312 55.582031 90.464844 60.972656 88.253906 66.109375 Z M 88.253906 66.109375 " />
                                        <path style=" stroke:none;fill-rule:nonzero;fill:rgb(50.196078%,50.196078%,50.196078%);fill-opacity:1;" d="M 64.777344 58.921875 C 60.398438 55.714844 55.453125 54.109375 49.949219 54.109375 C 44.441406 54.109375 39.5 55.710938 35.121094 58.921875 C 30.742188 62.128906 27.75 66.355469 26.144531 71.601562 C 25.800781 72.6875 25.886719 73.742188 26.40625 74.757812 C 26.925781 75.777344 27.75 76.457031 28.878906 76.804688 C 29.960938 77.152344 31.011719 77.066406 32.03125 76.546875 C 33.050781 76.023438 33.730469 75.203125 34.078125 74.074219 C 35.164062 70.605469 37.167969 67.796875 40.09375 65.652344 C 43.019531 63.503906 46.304688 62.433594 49.949219 62.433594 C 53.589844 62.433594 56.875 63.507812 59.800781 65.652344 C 62.726562 67.796875 64.730469 70.605469 65.816406 74.074219 C 66.164062 75.203125 66.855469 76.023438 67.898438 76.546875 C 68.9375 77.066406 70 77.152344 71.082031 76.804688 C 72.167969 76.457031 72.96875 75.777344 73.488281 74.757812 C 74.011719 73.742188 74.097656 72.6875 73.75 71.601562 C 72.148438 66.359375 69.15625 62.128906 64.777344 58.921875 Z M 64.777344 58.921875 " />
                                        <path style=" stroke:none;fill-rule:nonzero;fill:rgb(50.196078%,50.196078%,50.196078%);fill-opacity:1;" d="M 33.296875 41.621094 C 35.597656 41.621094 37.558594 40.808594 39.183594 39.183594 C 40.808594 37.558594 41.625 35.597656 41.625 33.296875 C 41.625 31 40.808594 29.039062 39.183594 27.414062 C 37.558594 25.785156 35.597656 24.972656 33.296875 24.972656 C 31 24.972656 29.039062 25.785156 27.414062 27.414062 C 25.789062 29.039062 24.972656 31 24.972656 33.296875 C 24.972656 35.597656 25.785156 37.558594 27.414062 39.183594 C 29.039062 40.808594 31 41.621094 33.296875 41.621094 Z M 33.296875 41.621094 " />
                                        <path style=" stroke:none;fill-rule:nonzero;fill:rgb(50.196078%,50.196078%,50.196078%);fill-opacity:1;" d="M 66.597656 24.972656 C 64.296875 24.972656 62.335938 25.785156 60.710938 27.414062 C 59.085938 29.039062 58.269531 31 58.269531 33.296875 C 58.269531 35.59375 59.085938 37.558594 60.710938 39.183594 C 62.335938 40.808594 64.296875 41.621094 66.597656 41.621094 C 68.894531 41.621094 70.855469 40.808594 72.480469 39.183594 C 74.109375 37.558594 74.921875 35.59375 74.921875 33.296875 C 74.921875 31 74.109375 29.039062 72.480469 27.414062 C 70.855469 25.785156 68.894531 24.972656 66.597656 24.972656 Z M 66.597656 24.972656 " />
                                    </g>
                                </svg>

                            </div>

                            <div class="expired-label">
                                <p>
                                    Your payment was NOT detected on the network.
                                    Please go back and click on the Buy button again
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-container__footer">
                <a target="_blank" href="https://google.com" class="helper-info" id="js-footer">
                    How do I pay this?
                </a>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/clipboard/dist/clipboard.min.js"></script>
    <script src="~/lib/kjua/dist/kjua.min.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="https://unpkg.com/popper.js@1"></script>
    <script src="https://unpkg.com/tippy.js@4"></script>
    <script src="~/js/index.js"></script>
</body>

</html>